// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1920px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 1400px
) !default;

$container-paddings-x: (
  sm: 15px,
  md: 35px,
  lg: 45px
) !default;

// Colors.
$white: #ffffff !default;

// Offcanvas

// scss-docs-start offcanvas-variables
$offcanvas-vertical-height:         50vh !default;
$offcanvas-transition-duration:     .3s !default;

// List group

// scss-docs-start list-group-variables
$list-group-item-padding-y:         $spacer * 1 !default;