ul.pagination{
  flex-wrap: wrap;
  gap: 10px 5px;
  justify-content: center;
  margin-bottom: 0;

  li.page-item{
    a.page-link{
      width: 30px;
      height: 30px;
      padding: 0;
      @include border-radius(50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:first-child{
      a.page-link{
        position: relative;
        text-indent: -9999999999px;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          @include mask-image(url("../images/fontawesome/angle-left-solid.svg"));
          @include mask-repeat(no-repeat);
          @include mask-size(15px 15px);
          width: 15px;
          height: 15px;
          background: $white;
          @include transform(translate(-50%, -50%));
        }
      }
    }

    &:last-child{
      a.page-link{
        position: relative;
        text-indent: -9999999999px;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          @include mask-image(url("../images/fontawesome/angle-right-solid.svg"));
          @include mask-repeat(no-repeat);
          @include mask-size(15px 15px);
          width: 15px;
          height: 15px;
          background: $white;
          @include transform(translate(-50%, -50%));
        }
      }
    }

    &:first-child,
    &:last-child{
      .page-link{
        &:hover,
        &:focus{
          color: $white;
          background-color: transparent;
        }
      }
    }

    &.deactivate{
      a.page-link{
        cursor: default;
        opacity: .5;
      }
    }
  }
}