ul.list-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 10px;

  li.list-group-item{
    width: 100%;
    padding: 0;
    
    a,
    span{
      padding: 16px 45px 16px 16px;

      + *{
        margin-top: 5px;
      }
    }

    a,
    span{
      position: relative;
      display: block;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        display: block;
        @include mask-repeat(no-repeat);
        @include mask-size(15px 15px);
        width: 15px;
        height: 15px;
        background: $white;
        @include transform(translateY(-50%) translateX(0));
      }
    }

    a{
      &:after {
        @include mask-image(url("../images/fontawesome/download-solid.svg"));
      }
    }

    span{
      &:after {
        @include mask-image(url("../images/fontawesome/server-solid.svg"));
      }
    }

    &:last-child{
      border-width: 0 0 var(--bs-list-group-border-width);
    }

    &:has(a){
      &:hover{
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}