.offcanvas{
  .offcanvas-body{
    .list-group{
      .list-group-item{
        padding: 16px 0;

        a{
          position: relative;
          display: block;
          color: $black;
          text-decoration: none;
          padding-right:30px;

          &:after{
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            @include mask-image(url("../images/fontawesome/download-solid.svg"));
            @include mask-repeat(no-repeat);
            @include mask-size(20px 20px);
            width: 20px;
            height: 20px;
            background: $black;
            @include transform(translateY(-50%));
          }
        }
      }
    }
  }
}