#sites{
  h1{
    text-align: center;
    margin-bottom: 0;

    + *{
      margin-top: 20px;
    }
  }

  form{

    label{
      margin-bottom: 0;
      align-self: center;
    }

    + *{
      margin-top: 30px;
    }
  }

  .site-card{
    .image{
      img{
        width: 100%;
        height: auto;
      }

      + *{
        margin-top: 10px;
      }
    }

    .body{
      button{

        + *{
          margin-top: 5px;
        }
      }

      + *{
        margin-top: 10px;
      }
    }
  }
}