#scraping{
  .animeflv-wrapper{
    .image{
      + *{
        margin-top: 10px;
      }
    }

    .body{
      button{

        + *{
          margin-top: 5px;
        }
      }

      + *{
        margin-top: 10px;
      }
    }
  }
}