.filters-container{
  label{
    margin-bottom: 0;
  }

  .btn-group{
    gap: 5px;

    input{
      &:checked + label{
        background-color: $white;
        color: $black;
      }
    }

    label{
      color: $white;
      background-color: transparent;
      border-color: $white;

      &:hover{
        background-color: $white;
        color: $black;
      }
    }
  }
}