<div class="section-row" id="download-station">
  <div class="container-fluid">
    <form id="url-form">
      <label for="animeUrl" class="form-label">URL</label>
      <input type="text" class="form-control" id="animeUrl" placeholder="Added url">
      <label for="animePath" class="form-label">Folder *</label>
      <input type="text" class="form-control" id="animePath" placeholder="Added folder">
      <button type="submit" id="downloadAnime" class="btn btn-primary">Download</button>
    </form>

    <button type="button" id="initScraping" class="btn btn-link text-white">Scraping AnimeFLV</button>

    <div class="row row-30"></div>
  </div>
</div>