<div class="section-row" id="download-station">
  <div class="container-fluid">
    <form id="url-form">
      <label for="animeUrl" class="form-label">URL</label>
      <input type="text" class="form-control" id="animeUrl" placeholder="Added url">
      <select class="folder-select form-select" aria-label="select folder">
        <option selected>Select a folder</option>
      </select>
    </form>

    <button type="button" id="initScraping" class="btn btn-link text-white">Scraping AnimeFLV</button>

    <div class="row row-30"></div>
  </div>
</div>